<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
 </configSections>
 <connectionStrings>
  <add name="ConnStringExpress" connectionString="Data Source=.\SqlExpress;Initial Catalog=TP2_Academia;Integrated Security=true"
   providerName="System.Data.SqlClient" />
  <add name="UI.Desktop.Properties.Settings.TP2_AcademiaConnectionString"
   connectionString="Data Source=.\SqlExpress;Initial Catalog=TP2_Academia;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>